.card {
  position: relative;
  cursor: grab;
  display: grid;
  grid: 1rem 1rem 75px 1rem 1fr / 1fr;
  width: 150px;
  height: 200px;
  border: 1px solid black;
  border-radius: 4px;
  .card-cost {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.1rem;
    margin: 0.2rem;
    border: 1px solid;
    border-radius: 50%;
  }
  img {
    width: 95%;
    height: 75px;
    padding: 0.2rem;
    border: 1px solid;
    justify-self: center;
  }
  .description {
    align-self: center;
  }
}

#active-card.card {
  z-index: 99;
  border: 2px solid red;
  animation: rise 0.33s forwards;
}

.card.dragging {
  cursor: grabbing;
}

#active-card.card.playable {
  border: 2px solid orange;
}

@keyframes rise {
  from {
    top: 0px;
  }
  to {
    top: -50px;
  }
}
