* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(197, 197, 185);
}

@import './battle-page';
@import './healthbar';
@import './manabar';
@import './test';
@import './enemies-display';
@import './enemy';
@import './deck-container';
@import './card';
@import './card-pile';
@import './play-area';
